{#8、user_center_info.html 用户中心-用户信息页 用户中心功能一，查看用户的基本信#}
{#9、user_center_order.html 用户中心-用户订单页 用户中心功能二，查看用户的全部订单#}
{#10、user_center_site.html 用户中心-用户收货地址页 用户中心功能三，查看和设置用户的收货地址#}

{% extends 'base2-bottom-and-head-top.html' %}
{% load static from staticfiles %}
{% block head-title %}
    <title>base3-bottom-head_top-head_head-user_car.html</title>
{% endblock %}
{% block body-two %}
    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src=" {% static 'images/logo.png' %}"></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
        <div class="search_con fr">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>
    <div class="main_con clearfix">

        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url 'user:user' %}" {% if page == '1' %} class="active"{% endif %}>· 个人信息</a></li>
                <li><a href="{% url 'user:order' %}" {% if page == '2' %} class="active"{% endif %}>· 全部订单</a></li>
                <li><a href="{% url 'user:address' %}" {% if page == '3' %} class="active"{% endif %}>· 收货地址</a></li>
            </ul>
        </div>
        {% block body3-has-seek %}
        {% endblock %}
    </div>
{% endblock %}


